# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [52]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.to_csv("Resources/pyber_data_df.csv")

## Deliverable 1: Get a Summary DataFrame

In [64]:
#  1. Get the total rides for each city type
total_ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]

In [65]:
# 2. Get the total drivers for each city type
total_drivers = pyber_data_df.groupby(["type"]).sum()["driver_count"]

In [66]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby(["type"]).sum()["fare"]

In [67]:
#  4. Get the average fare per ride for each city type. 
rural_average_fare = total_fares["Rural"]/total_ride_count["Rural"]
suburban_average_fare = total_fares["Suburban"]/total_ride_count["Suburban"]
urban_average_fare = total_fares["Urban"]/total_ride_count["Urban"]

average_fare_per_city = [rural_average_fare,
                         suburban_average_fare,
                         urban_average_fare]

In [68]:
# 5. Get the average fare per driver for each city type. 
rural_average_driver_fare = total_fares["Rural"]/total_drivers["Rural"]
suburban_average_driver_fare = total_fares["Suburban"]/total_drivers["Suburban"]
urban_average_driver_fare = total_fares["Urban"]/total_drivers["Urban"]

average_fare_per_driver = [rural_average_driver_fare,
                           suburban_average_driver_fare,
                           urban_average_driver_fare]

In [69]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame(
    {"Total Rides": total_ride_count,
      "Total Drivers": total_drivers,
      "Total Fares": total_fares,
      "Average Fare per Ride": average_fare_per_city, 
      "Average Fare per Driver": average_fare_per_driver})
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,537,4327.93,34.623440,8.059460
Suburban,625,8570,19356.33,30.970128,2.258615
Urban,1625,59602,39854.38,24.525772,0.668675

In [62]:
#  7. Cleaning up the DataFrame. Delete the index name
# Already formatted

In [63]:
#  8. Format the columns.
# Already formatted

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')